.chat{
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    &__img{
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg{
            color: #333;
            font-size: 40px;
        }
    }
    &__area{
        background-color: #fff;
        width: 350px;
        height: 550px;
        border: 1px solid #0F103F;
        border-radius: 12px;
        overflow: hidden;
        &__title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #0F103F;
            padding: 0 15px;
            height: 48px;
            h2{
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                margin-bottom: 0;
            }
            svg{
                color: #fff;
                cursor: pointer;
                font-size: 20px;
            }
        }
        &__message{
            padding: 15px;
            height: 452px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 10px;
            p{
                padding: 10px;
                font-size: 13px;
                font-weight: 400;
                border-radius: 12px;
                overflow: hidden;
                word-wrap: break-word;
                height: 40px;
                align-content: center;
                padding: 0 15px;
            }
            .user-message {
                background-color: #d1ffd6;
              }
              
              .server-message {
                background-color: #f1f1f1;
              }
        }
        &__form{
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
            display: flex;
            justify-content: space-between;
            border: 1px solid #D0D5DD;
            padding: 0 15px;
            border-radius: 12px;
            height: 50px;
            input{
                border: none;
                font-size: 12px;
                padding: 15px ;
                width: 90%;
            }
            button{
                border: none;
                background-color: transparent;
                font-size: 12px;
            }
        }
    }
}