header{
    padding: 0 120px;
    position: sticky;
    top: 0;
    z-index: 9999;
    .header-top{
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            display: flex;
            gap: 48px;
            li{
                a{
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }
    .header-bottom{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            width: 80px;
        }
        .header-nav{
            width: 550px;
            ul{
                display: flex;
                gap: 48px;
                li{
                    a{
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }
        }
        .header-actions{
            display: flex;
            align-items: center;
            .lang-dropdown{
                margin-right: 16px;
                span{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 400;
                    img{
                        margin-left: 4px;
                    }
                }
            }
        }
        .header-menu{
            display: none;
        }
    }
}

.educational-header{
    background-color: #fff;
    .active{
        color: #008ADF !important;
    }
    .header-top{
                a{
                    color: #151515;
                }
                li:nth-child(1) a{
                    color: #008ADF;
                }
    }
    .header-bottom{
        .header-nav{
            ul{
                li{
                    a{
                        color: #151515;
                    }
                }
            }
        }
        .header-actions{
            justify-content: space-between;
            width: 242px;
        }
    }
}

.corporate-header{
    background-color: #0F103F;
    .active{
        color: #008ADF !important;
    }
    .header-top{
        a{
            color: #fff;
        }
        li:nth-child(2) a{
            color: #008ADF;
        }
    }
    .header-bottom{
        .header-logo{
            img{
                filter: brightness(0) invert(1);
            }
        }
        .header-nav{
            ul{
                li{
                    a{
                        color: #fff;
                    }
                }
            }
        }
        .header-actions{
            justify-content: flex-end;
            width: 244px;
            .lang-dropdown{
                span{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    img{
                        margin-left: 4px;
                    }
                }
            }

        }
    }
}


@media screen and (max-width:768px) {
    header{
        padding: 0 12px !important;
        .header-nav, .header-actions, .header-top{
            display: none !important;
        }
        .header-bottom{
            height: 100px;
        }
        .header-menu{
            display: flex !important;
            gap: 16px;
            svg{
                font-size: 42px;
                cursor: pointer;
                background-color: #f1f5f7;
                padding: 12px;
                border-radius: 8px;
                color: #151515;
            }
            
        }
    }
}