.load-more{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.load-more a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    color: #008ADF;
    img{
        transition: .4s;
        margin-left: 12px;
    }
    &:hover{
        img{
            transform: translateX(10px);
        }
    }
}

@media screen and (max-width:768px) {
    .load-more{
        margin-top: 32px;
        a{
            font-size: 14px;
            img{
                transition: .4s;
            }
            &:hover{
                img{
                    transform: translateX(10px);
                }
            }
        }
    }
}