.admin-users{
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 20px;
            font-weight: 600;
        }
        a{
            background-color: #008ADF;
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            padding: 12px 50px;
            border-radius: 8px;
        }
    }
    &__form{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 5rem auto 0;
        &__container{
            label{
                font-size: 14px;
                font-weight: 400;
                color: #667085;
            }
            input, select,textarea{
                width: 100%;
                height: 48px;
                border: 1px solid #D0D5DD;
                border-radius: 8px;
                margin-top: 12px;
                padding-left: 15px;
            }
            button{
                background-color: #2970FF;
                width: 100%;
                height: 48px;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                border-radius: 8px;
                border: 1px solid #2970FF;
                cursor: pointer;
            }
            input[type="file"] {
                display: none;
            }
            
            .custom-file-upload {
                display: inline-block;
                padding: 8px 16px;
                cursor: pointer;
                color: white;
                background-color: rgb(4, 120, 4);
                border-radius: 4px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}