@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f7;
    font-family: 'DM Sans', serif;
    font-weight: 400;
}

ul{
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

input,select, textarea {
    outline: none;
}

a{
    text-decoration: none !important;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Light.ttf');
    font-weight: 300;
}


@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Medium.ttf');
    font-weight: 500;
}


@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Bold.ttf');
    font-weight: 700;
}

.error-message{
    background-color: #ef4954;
    text-align: center;
    color: #fff;
    padding: 6px 0;
    border-radius: 6px;
}


table th, tr{
    text-align: center;
    vertical-align: middle;
}

table td{
    font-weight: 300;
}

table img{
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.admin-header {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    height: 70px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
}

.admin-header svg{
    font-size: 30px;
}

.admin-header span{
    font-size: 14px;
    font-weight: 300;
}


h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0 !important;
}

.educational{
    padding: 0 120px;
}

table .role-dp{
    position: absolute;
    background-color: #fff;
    border: 1px solid #F1F1F4;
    border-radius: .75rem;
    box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, .09);
    margin-top: 10px;
    width: 150px;
    transform: scale(0);
    transition: .5s;
}

.role-dp li{
    font-size: 12px;
    font-weight: 300;
    color: #151515;
    padding: 10px 15px !important;
    border-bottom: 1px solid #f1f5f7;
    transition: .5s;
}

.role-dp li:hover {
    background-color: #f1f5f7;
    
}

.role-active{
    transform: scale(1) !important;
}

.corporate-bg {
    background-color: #0F103F;
    background-image: url(../images/cor-bg.png);
    background-size: cover;
}

.academic-bg{
    background-color: #F1F5F7;
}

.alert-message {
    width: 25%;
}


@media screen  and (max-width:768px){
    .educational{
        padding: 0 12px !important;
    }
    .corporate-bg {
        background-position: left;
        background-size: auto !important;
    }
    .alert-message{
        width: 80% !important;
        margin: auto;
    }
}